{# CARD STRUCTURE #}
<div class="card col-3">
    {# CARDs IMAGE #}
    <img src="images/Renault_Safrane.jpg" alt="Renault Safrane">
    {# CARDs BODY #}
    <div class="card-body text-center">
        {# CARs BRAND AND MODEL #}
        <h3 class="card-title">Renault Safrane</h3>
        {# CARs PRCE AND MILEAGE #}
        <h5>2300€ - 145.000km</h5>
        {# LINK TO CAR PAGE #}
        <a href="#" class="btn btn-primary">Voir la voiture</a>
    </div>
</div>