<!-- FOOTER -->
<footer class="text-white bg-secondary mt-5">
    <div id="footer-infos">
        <div class="container py-3">
            <div class="row">
                <div class="col-3">
                    <h3>Contactez-nous</h3>
                    <h5 class="my-3">+32 479 83 82 81</h5>
                    <h5 class="my-3">ipsem.garage@dealers.com</h5>
                </div>
                <div class="col-3">
                    <h3>Retrouvez-nous sur</h3>
                    <p class="mt-4">
                        <a href="#" class="mx-3"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="mx-3"><i class="fab fa-facebook-messenger"></i></a>
                        <a href="#" class="mx-3"><i class="fab fa-instagram"></i></a>
                    </p>
                </div>
                <div class="col offset-1 text-right">
                    <h3>Disclaimer</h3>
                    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor perspiciatis qui vero, adipisci in facilis minima eos neque nisi voluptatem similique, eveniet laborum itaque incidunt iure suscipit dolore inventore deserunt voluptatum natus. Iusto, odit culpa nam iste eos voluptates! Quis, impedit reiciendis cumque laboriosam minus incidunt, veniam repellat expedita labore qui molestiae earum soluta, eveniet totam.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-links" class="bg-dark py-1">
        <div class="container">
            <div class="row">
                <p>
                    <a href="#">Home</a> |
                    <a href="#">Catalogue</a> |
                    <a href="#">Services</a> |
                    <a href="#">Contact</a>
                </p>
                <p class="ml-auto">(C) Copyright EPSE 2020</p>
            </div>
        </div>
    </div>
</footer>