<!-- NAV -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{{path('home')}}">IPSEM'S GARAGE</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-3">
            <a href="{{path('home')}}" class="nav-link">Home</a>
        </li>
        <li class="nav-item mx-3">
            <a href="catalogue.html" class="nav-link">Catalogue</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-3">
            <a href="#" class="nav-link">New</a>
        </li>
        <li class="nav-item mx-3">
            <a href="#" class="nav-link disabled">Service</a>
        </li>
        <li class="nav-item mx-3">
            <a href="#" class="nav-link disabled">Contact</a>
        </li>
    </ul>
</nav>